body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.lefthalf{
    background-color: #F9F9F9;
    height: 100vh;
    padding: 0px 50px 50px 0px;
}

.righthalf{
    background-color: #ffffff;
    height: 100vh;
    padding: 150px 200px 200px 200px;
    
}

.logo{
    width: 30%;
    padding: 30px;
}

.illustration{
    margin: 150px;
}

.loginheading{
    font-size: 56px;
    font-weight: 600px;
    color: #337B94;
}

.loginsubheading{
    font-size: 16;
    font-weight: 400px;
    color: #000000;
}

.forminput{
    border: none;
    text-decoration: underline;
    color: #B2B3BD;
}

.forminput:active{
    border: none;
}

.button-css-active{
    /* float: right; */
    /* width: 0%; */
    text-align: center;
    font-family: 'Inter';
    padding: 11px;
    /* margin: 10px 0px; */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    background-color: #357C95;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
    /* vertical-align: middle; */
    line-height: 1.5;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-css-active:hover{
    background-color: #357C95;
    color: white;
}

.formcss{
    border: none;
    width: 400px;
    border-bottom: 1px solid #357C95;
    padding-bottom: 5px;
    padding-left: 0px;
}

.formcss:focus{
    z-index: 3;
    border: none;
    border-bottom: 1px solid #357C95;
    outline: none;
    box-shadow: none;
}

.logincontent{
    font-size: 24;
    font-weight: 400px;
    color: #676565;
}

.loginquestion{
    color: #1F4167;
    font-size: 14px;
    font-weight: 400;
}
/* 
@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');
.form-control {
  -webkit-transition: none;
  transition: none;
  width: 80px;
  height: 80px;
  text-align: left;
}

.form-control:focus {
  color: #3F4254;
  background-color: #ffffff;
  border-color: #884377;
  outline: 0;
}

.form-control.form-control-solid {
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  color: #3F4254;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.form-control.form-control-solid:active,
.form-control.form-control-solid.active,
.form-control.form-control-solid:focus,
.form-control.form-control-solid.focus {
  background-color: #EBEDF3;
  border-color: #EBEDF3;
  color: #3F4254;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
} */